ul {
    list-style: none;
}

.side-nav-categories {
    border-radius: 8px;
    padding: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    background-color: #fff;
    width: 250px;
    margin: auto;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
}

.title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 12px 25px 10px 25px;
    position: relative;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background: #ed6663;
    margin-top: 0px;
    margin-left: -10px;

    &::after {
        content: "";
        height: 1px;
        width: 1px;
        border-style: solid;
        border-width: 5px;
        position: absolute;
        bottom: -10px;
        left: 0;
        border-color: #d95451 #d95451 transparent transparent;
    }

    &::before {
        content: '\f0c9';
        font-family: FontAwesome;
    }
}

.category-tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 0;

    li {
        display: block;
        position: relative;
        margin: 0;
        border-bottom: 1px #ececec solid;
        padding: 10px 18px;
    }

    a {
        color: #333;
        font-weight: 700;
        margin-bottom: 0;
    }

    i {
        top: 12px;
        right: 18px;
        position: absolute;
        cursor: pointer;
        width: 16px;
        height: 16px;
        padding: 2px;
        color: #ed6663;
    }
}


.sub-category-tabs {
    li {
        padding: 2px !important;
        border-bottom: 0px !important;
        margin-left: 15px;
        line-height: 30px;
    }
    div{
        display: flex;
        text-align: center;
        input{
            margin-right: 15px;
            width: 17px;
            accent-color: red;
        }
    }
}

.main-category {
    button {
        float: right;
        background-color: white;
        min-width: 30px;
        min-height: 30px;
        &:hover {
            background-color: #f2f3f4;
        }
    }
}